<h1>HOME</h1>

<div class="row">
<div class="col-2">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
  </div>
</div>


<div class="col-10">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <% @users.each do |user| %>
        </br>
        <div >
            <%= user.first_name %>
        </div>
        <div >
            <%= user.last_name %>
        </div>
        <div >
        <%= user.email %>
        </div>
      <% end %>
    </div>


    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">


    <%= form_for(User.new, :html => {:class => 'form_group'}) do |form| %>
      <div class='form-group'>
        <%= form.text_field :first_name, class:'form-control', placeholder: 'first name' %>
      </div>

      <div class='form-group'>
        <%= form.text_field :last_name, class:'form-control', placeholder: 'last name' %>
      </div>

      <div class='form-group'>
      <%= form.text_field :email, class:'form-control', placeholder: 'email' %>
      </div>

      <%= form.submit "Submit", class:'btn btn-primary' %>
    <% end %>
   
    
    </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>

