<br>
<h1>HOME

<div class="showbox">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>
</h1>
<br>




<%# Navbar%>
<div class="row">
<div class="col-2">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
    <a class="nav-link" id="v-pills-add-new-user-tab" data-toggle="pill" href="#v-pills-add-new-user" role="tab" aria-controls="v-pills-add-new-user" aria-selected="false">Add A New User</a>
    <a class="nav-link" id="v-pills-add-imap-provider-tab" data-toggle="pill" href="#v-pills-add-imap-provider" role="tab" aria-controls="v-pills-add-imap-provider" aria-selected="false">Add A New Provider</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
  </div>
</div>
<%# HOME - Display Users Table%>
<div class="col-10">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <h2>Users</h3>
      <br>
      <table class="d-flex p2 table">
          <tr class="thead-dark">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Can Login?</th>
            <th scope="col">Backup Mailbox?</th>
            <th scope="col">IMAP Provider</th>
            <th scope="col">Options</th>
          </tr>

          <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.can_login %></td>
            <td><%= user.is_backup %></td>
            <td><%= user.provider %></td>

            <td>
            <div class="dropdown">
              <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="<%=user_path(user)%>">View More</a>
                <a class="dropdown-item" href="<%=edit_user_path(user)%>">Edit</a>
                <a class="dropdown-item-danger" href="" onclick='set_userID(<%=user.id%>, "<%=user.first_name%>", "<%=user.last_name%>");' data-toggle="modal" data-target="#delete-modal" >Delete</a>

              </div>
            </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>
      <br>
      <h2>Providers</h3>
      <br>
      <table class="d-flex p2 table">
        <tr class="thead-dark">
          <th>Name &nbsp; &nbsp; &nbsp;</th>
          <th>Server</th>
          <th>Port</th>
          <th>SSL</th>
        </tr>
        <% @imap_providers.each do |provider| %>
          <tr>
            <td><%= provider.name %></td>
            <td><%= provider.server %></td>
            <td><%= provider.port %></td>
            <td><%= provider.ssl %></td>
          </tr>
        <% end %>
      </table>
    </div>





<%# Add New User%>
  <div class="tab-pane fade" id="v-pills-add-new-user" role="tabpanel" aria-labelledby="v-pills-add-new-user-tab">
  <h3>Create a new user here...</h3>
    <%= form_for(User.new, :html => {:class => 'form_group'}) do |form| %>
      <div class='row'>
        <div class='col-2'>
          <div class='form-group'>
            <%= form.text_field :first_name, class:'form-control', placeholder: 'first name' %>
          </div>
        </div>
        <div class='col-2'>
          <div class='form-group'>
            <%= form.text_field :last_name, class:'form-control', placeholder: 'last name' %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-2'>
          <div class='form-group'>
          <%= form.text_field :email, class:'form-control', placeholder: 'email' %>
          </div>
        </div>
        <div class='col-2'>
          <div class='form-group'>
            <%= form.text_field :imap_password, class:'form-control', placeholder: 'imap password' %>
          </div>
        </div>
      </div>
      <br>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <% i = 1%>
        <% ImapProvider.all.each do |provider| %>
        <br>
          <label class="btn btn-secondary active">
            <%= form.radio_button :provider, i%> <%= provider.name%>
          </label>
          <% i = i + 1%>
        <%end%>
      </div>
      <br>
      <br>
      <div class='form-check'>
        <%= form.check_box :can_login, class:'form-check-input', id:'can_login'%>
        <label for="can_login">Can this user login?</label>
      </div>
      <div class='form-check'>
        <%= form.check_box :is_backup, class:'form-check-input', id:'is_backup'%>
        <label for="is_backup">Backup This User?</label>
      </div>
      
      <br>
      <%= form.submit "Submit", class:'btn btn-primary' %>
    <% end %>
  </div>





<%# Add Imap Provider%>
  <div class="tab-pane fade" id="v-pills-add-imap-provider" role="tabpanel" aria-labelledby="v-pills-add-imap-provider-tab">
  <h3>Create a new provider here...</h3>
    <%= form_for(ImapProvider.new, :html => {:class => 'form_group'}) do |form| %>
      <div class='row'>
        <div class='col-2'>
          <div class='form-group'>
            <%= form.text_field :name, class:'form-control', placeholder: 'i.e. Google' %>
          </div>
        </div>
        <div class='col-2'>
          <div class='form-group'>
            <%= form.text_field :server, class:'form-control', placeholder: 'i.e. imap.gmail.com' %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-2'>
          <div class='form-group'>
            <%= form.text_field :port, class:'form-control', placeholder: 'i.e. 993' %>
          </div>
        </div>
      </div>
      <div class='form-check'>
        <%= form.check_box :ssl, class:'form-check-input', id:'ssl'%>
        <label for="can_login">Use SSL?</label>
      </div>
      <br>
      <%= form.submit "Submit", class:'btn btn-primary' %>
    <% end %>
  </div>
<%# Spare Page%>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
    <p>You are running module imap-backup version <%= @imap_backup_version %></p>
    <%= link_to 'Start Manual Backup!', start_backup_path, method: :post %>





  </div>

  
</div>
















<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">WAIT!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <span style="font-weight:bold;" id="first-name"></span> <span style="font-weight:bold;" id="last-name"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">No!</button>
        <a class="btn btn-danger" id="confirm-delete-btn" href="#" data-method="delete">Yes, Delete</a>
      </div>
    </div>
  </div>
</div>








<script>
  var userToDelete
  var userToDeleteFirstName
  var userToDeleteLastName
  function set_userID(userID, userFirstName, userLastName) {
    console.log(userID);
    userToDeleteFirstName = userFirstName;
    userToDeleteLastName = userLastName;
    document.getElementById("first-name").innerHTML=userFirstName;
    document.getElementById("last-name").innerHTML=userLastName;

    var usersURL = "/users/";
    userToDelete = usersURL.concat(userID);
    document.getElementById('confirm-delete-btn').href = userToDelete;
  }
</script>